<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/darkInputs.css">
</style>
    <title>Korisnici</title>
</head>
<body style=" background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">

    <div id="app" class="container-fluid h-100">
    
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <h1 style="color: white">Korisnici</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="table-responsive">
                    <table class="table table-hover table-dark table-striped">
                        <thead>
                        <tr>
                            <th style="width: 40%"><input v-model="username" v-on:keyup="refreshUsers" debounce="500" type="text" class="form-control" id="usernameInput" placeholder="Korisničko ime" /></th>
                            <th style="width: 25%">
                                <select v-model="selectedSort" id="sortInput" class="custom-select">
                                    <option v-for="option in sortOptions" v-bind:value="option.value">{{ option.text }}</option>
                                </select>
                            </th>
                            <th style="width: 35%">
                            	<select v-model="selectedUserRole"  v-on:change="refreshUsers" id="userRoleInput" class="custom-select">
									<option v-for="option in userRoleOptions" v-bind:value="option.value">{{ option.text }}</option>
								</select>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Korisničko ime</th>
                            <th scope="col">Datum registracije</th>
                            <th scope="col">Uloga</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in orderedUsers">
                                <td><a :href="'User.html?username=' + user.username" class="badge badge-dark">{{ user.username }}</a></td>
                                <td>{{ user.registrationDate.dayOfMonth }}. 
                                {{ user.registrationDate.month }} {{ user.registrationDate.year }}.</td>
                                <td>{{ user.userRole }}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script>
		// Loading `lodash.fp.js` converts `_` to its fp variant.
		_.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		
		// Use `noConflict` to restore the pre-fp variant.
		var fp = _.noConflict();
		
		_.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
		// ➜ { 'a': 1, 'b': 2 }
		fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		</script>
    <script src="js/FilterUsers.js"></script>
</body>
</html>
