<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/darkInputs.css">
    <link rel="stylesheet" href="css/loading.css">
    <style>
         button {
            background-color: #22262a !important;
            color: #FFF !important;
         }
    </style>
    <title>Korisnici</title>
</head>
<body style=" background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">

	<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app" class="container-fluid h-100">
    
        <!-- NAVIGACIJA -->
        <div class="row">
            <div class="col d-none d-lg-block">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>
                  
                    <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                        </li>
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                        </li>
                        <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                        </li>
                        <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="Reports.html">Izveštaj</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Moj nalog
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col d-lg-none">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                            </li>
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                            </li>
                            <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                            </li>
                            <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            	<a class="nav-link font-weight-bold" href="Reports.html">Izveštaj</a>
                        	</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moj nalog
                                </a>
                                <div class="dropdown-menu bg-dark w-50" aria-labelledby="navbarDropdown">
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
        <div style="height: 60px;" class="row d-none d-lg-block"></div>
        <!-- KRAJ NAVIGACIJE -->
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="table-responsive">
                    <table class="table table-hover table-dark table-striped">
                        <thead>
                        <tr>
                            <th style="width: 40%"><input v-model="username" v-on:keyup="refreshUsers" debounce="500" type="text" class="form-control" id="usernameInput" placeholder="Korisničko ime" /></th>
                            <th style="width: 25%">
                                <select v-model="selectedSort" id="sortInput" class="selectpicker" style="border: 1px #FFF">
                                    <option v-for="option in sortOptions" v-bind:value="option.value" style="background: #22262a; color: #FFF;">{{ option.text }}</option>
                                </select>
                            </th>
                            <th style="width: 35%">
                            	<select v-model="selectedUserRole"  v-on:change="refreshUsers" id="userRoleInput" class="selectpicker" style="border: 1px #FFF">
									<option v-for="option in userRoleOptions" v-bind:value="option.value" style="background: #22262a; color: #FFF;">{{ option.text }}</option>
								</select>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Korisničko ime</th>
                            <th scope="col">Datum registracije</th>
                            <th scope="col">Uloga</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in orderedUsers">
                                <td><a :href="'User.html?username=' + user.username" class="badge badge-dark" style="font-size: medium;">{{ user.username }}</a></td>
                                <td>{{ user.registrationDate.dayOfMonth }}. 
                                {{ user.registrationDate.month }} {{ user.registrationDate.year }}.</td>
                                <td>{{ user.userRole }}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script>
		// Loading `lodash.fp.js` converts `_` to its fp variant.
		_.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		
		// Use `noConflict` to restore the pre-fp variant.
		var fp = _.noConflict();
		
		_.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
		// ➜ { 'a': 1, 'b': 2 }
		fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		</script>
    <script src="js/FilterUsers.js"></script>
</body>
</html>
