<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/loading.css">
    <title>Prijava</title>
</head>
<body style="height: 100vh; background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">
    
    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="app" class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="card mx-auto text-white bg-dark" style="width: 400px;">
            	<div class="card-header">
                    <h3 class="title">Prijava</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row justify-content-md-center">
                            <div class="col">
                                <input v-model="username" type="text" class="form-control text-white bg-dark" id="usernameInput" placeholder="Korisničko ime" />
                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center">
                            <div class="col">
                                <input v-model="password" type="password" class="form-control text-white bg-dark" id="passwordInput" placeholder="Lozinka" />
                            </div>
                        </div>
                        <div class="form-group row justify-content-around">
                            <div class="col-4">
                                <button v-on:click.prevent="loginSubmit" type="submit" class="btn btn-primary" id="loginSubmit">Prijava</button>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-outline-danger" href="Welcome.html" role="button">Odustani</a>
                            </div>
                        </div>
                    </form>
                    <div v-if="showMessage" class="alert alert-danger" role="alert" id="messageDiv">
                        <p style="color: red;" id="messageParagraph">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="js/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/Login.js"></script>
</body>
</html>
