<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="css/darkInputs.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
         button {
            background-color: #22262a !important;
            color: #FFF !important;
         }
    </style>
    <title>Projekcija</title>
</head>
<body style="height: 100vh; background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">
                            
    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app" class="container-fluid h-100">
    
    <!-- NAVIGACIJA -->
        <div class="row">
            <div class="col d-none d-lg-block">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>
                  
                    <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                        </li>
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                        </li>
                        <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                        </li>
                        <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="Reports.html">Izveštaj</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Moj nalog
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col d-lg-none">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                            </li>
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                            </li>
                            <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                            </li>
                            <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            	<a class="nav-link font-weight-bold" href="Reports.html">Izveštaj</a>
                        	</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moj nalog
                                </a>
                                <div class="dropdown-menu bg-dark w-50" aria-labelledby="navbarDropdown">
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
        <div style="height: 10%;" class="row d-none d-lg-block"></div>
        <div style="height: 2%;" class="row d-lg-none"></div>
        <!-- KRAJ NAVIGACIJE -->
        
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	        <div class="modal-content text-white bg-dark">
	            <div class="modal-header">
	            <h5 class="modal-title">Brisanje projekcije</h5>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            </div>
	            <div class="modal-body">
	            	{{ message }}
	            </div>
	            <div class="modal-footer">
	            	<p class="btn btn-primary" data-dismiss="modal">Zatvori</p>
	            </div>
	        </div>
	        </div>
	    </div>
	    
	    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	        <div class="modal-content text-white bg-dark">
	            <div class="modal-header">
	            <h5 class="modal-title">Brisanje projekcije</h5>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            </div>
	            <div class="modal-body">
	            	Da li ste sigurni da želite da obrišete ovu projekciju?
	            </div>
	            <div class="modal-footer">
	            	<p v-on:click.prevent="deleteProjectionSubmit" class="btn btn-danger" data-dismiss="modal">Da</p>
	            	<p class="btn btn-success" data-dismiss="modal">Ne</p>
	            </div>
	        </div>
	        </div>
	    </div>
        
        <div class="row align-items-center">
            <div class="card mx-auto text-white bg-dark">
                <div class="card-header">
                    <h3 class="title">Projekcija</h3>
                </div>
                <div class="card-body">
                                
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Film:</b> <a class="badge badge-dark text-white" style="font-size: medium;" :href="'Movie.html?id=' + projection.movie.id" > {{ projection.movie.title }} </a> </p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Datum:</b> {{ projection.time.dayOfMonth }}.{{ projection.time.monthValue }}.{{ projection.time.year }}.</p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Vreme:</b> {{ projection.time.hour }}:{{ projection.time.minute }} </p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Tip projekcije:</b> {{ projection.projectionType.name }} </p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Sala:</b> {{ projection.hall.name }} </p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Cena:</b> {{ projection.price }} </p></li>
                        <li class="list-group-item bg-dark"><p class="card-text"><b>Preostalo karata:</b> {{ remainingTickets }} </p></li>
                    </ul>
                    <div class="card-body">
                        <a v-if="!inPast && loggedInUser.userRole == 'USER' && remainingTickets > 0" :href="'BuyTicket.html?projection=' + projection.id" class="btn btn-danger text-white">Kupi kartu</a>
                        <p v-else-if="inPast"><b class="list-group-item list-group-item-info" style=" font-size: large;">Projekcija je već održana</b></p>
                        <p v-else-if="remainingTickets < 1"><b class="list-group-item list-group-item-info" style=" font-size: large;">Sve karte su prodate</b></p>
                        <p v-else-if="loggedInUser.userRole == ''"><b class="list-group-item list-group-item-info" style=" font-size: large;">Prijavite se da bi mogli kupiti karte</b></p>
                        <p v-if="loggedInUser.userRole == 'ADMIN'" v-on:click.prevent="deleteProjection" class="btn btn-danger text-white">Obriši</p>
                    </div>
                </div>
            </div>

            <div v-if="loggedInUser.userRole == 'ADMIN'" class="card mx-auto text-white bg-dark mt-2" style="width: 70%;">
                <div class="card-header">
                    <h3 class="title">Prodate karte</h3>
                </div>
                <div v-if="orderedTickets.length < 1" class="card-body"><h2>Nema prodatih karata za ovu projekciju</h2></div>
                <div v-else class="card-body">
                	<div class="row mb-2">
                		<div class="col col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                			<select v-model="selectedSort" title="Sortiraj..." id="sortInput" class="selectpicker form-control" style="border: 1px #FFF;">
	                    		<option v-for="sortOption in sortOptions" v-bind:value="sortOption" style="background: #22262a; color: #FFF;">{{ sortOption }}</option>
	                    	</select>
                		</div>
                	</div>
                	<div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" style="height: 500px; overflow-y: auto;">
                            <div v-for="ticket in orderedTickets" class="col mt-2 mb-2">
                                <div class="card text-white bg-dark border-danger" style="text-align: center;">
                                    <div class="card-body" style="text-align: center; padding-left: 5px; padding-right: 5px;">
                                        <p class="card-text"><b>Korisnik:</b></p>
                                        <p class="card-text"><a class="badge badge-dark text-white" style="font-size: medium;" :href="'User.html?username=' + ticket.user.username" > {{ ticket.user.username }} </a></p>
                                        <p class="card-text"><b>Vreme prodaje:</b></p>
                                        <p class="card-text"><a class="badge badge-dark text-white" style="font-size: medium;" :href="'Ticket.html?id=' + ticket.id" > {{ ticket.time.dayOfMonth }}.{{ ticket.time.monthValue  }}.{{ ticket.time.year }}. {{ ticket.time.hour }}:{{ ticket.time.minute }} </a></p>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
		// Loading `lodash.fp.js` converts `_` to its fp variant.
		_.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		
		// Use `noConflict` to restore the pre-fp variant.
		var fp = _.noConflict();
		
		_.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
		// ➜ { 'a': 1, 'b': 2 }
		fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
    </script>
    <script src="js/Projection.js"></script>
</body>
</html>