<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Registracija</title>
</head>
<body style="height: 100vh; background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">
    
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content text-white bg-dark">
	      <div class="modal-header">
	        <h5 class="modal-title">Registracija</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Uspešno ste se registrovali!
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Zatvori</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    <div id="app" class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="card mx-auto text-white bg-dark" style="width: 400px;">
            	<div class="card-header">
                    <h3 class="title">Registracija</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row justify-content-md-center">
                            <div class="col">
                                <input v-model="username" type="text" class="form-control text-white bg-dark" id="usernameInput" placeholder="Korisničko ime" />
                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center">
                            <div class="col">
                                <input v-model="password" type="password" class="form-control text-white bg-dark" id="passwordInput" placeholder="Lozinka" />
                                <small id="passwordHelpBlock" class="form-text">
                                    Lozinka može da se sastoji samo od slova i brojeva!
                                </small>
                            </div>
                        </div>
                        <div class="form-group row justify-content-md-center">
                            <div class="col">
                                <input v-model="repeatedPassword" type="password" class="form-control text-white bg-dark" id="repeatedPasswordInput" placeholder="Ponovljena lozinka" />
                            </div>
                        </div>
                        <div class="form-group row justify-content-around">
                            <div class="col-4">
                                <button v-on:click.prevent="registrationSubmit" type="submit" class="btn btn-primary" id="registrationSubmit">Registracija</button>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-outline-danger" href="Welcome.html" role="button">Odustani</a>
                            </div>
                        </div>
                    </form>
                    <div v-if="showMessage" class="alert alert-danger" role="alert" id="messageDiv">
                        <p style="color: red;" id="messageParagraph">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="js/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/Registration.js"></script>
</body>
</html>
