<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/darkInputs.css">
    <style>
        button {
           background-color: #22262a !important;
           color: #FFF !important;
        }
   </style>
    <title>Film</title>
</head>
<body style="height: 100vh; background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">
	<div id="app" class="container-fluid h-100">
	    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	        <div class="modal-content text-white bg-dark">
	            <div class="modal-header">
	            <h5 class="modal-title">Izmena filma</h5>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            </div>
	            <div class="modal-body">
	            Uspešno ste {{ action }} film!
	            </div>
	            <div class="modal-footer">
	            	<p class="btn btn-primary" data-dismiss="modal">Zatvori</p>
	            </div>
	        </div>
	        </div>
	    </div>
	    
	    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	        <div class="modal-content text-white bg-dark">
	            <div class="modal-header">
	            <h5 class="modal-title">Brisanje filma</h5>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            </div>
	            <div class="modal-body">
	            	Da li ste sigurni da želite da obrišete ovaj film?
	            </div>
	            <div class="modal-footer">
	            	<p v-on:click.prevent="deleteMovieSubmit" class="btn btn-danger" data-dismiss="modal">Da</p>
	            	<p class="btn btn-success" data-dismiss="modal">Ne</p>
	            </div>
	        </div>
	        </div>
	    </div>

    
        <div class="row align-items-center h-100"> 
            <div class="card mx-auto text-white bg-dark">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="movie.jpg" class="card-img" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-header">
                            <h3 class="title">Izmena filma</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col">
                                    <input v-model="title" type="text" class="form-control text-white bg-dark" id="titleInput" placeholder="Naziv" />
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col">
                                    <input v-model="director" type="text" class="form-control text-white bg-dark" id="directorInput" placeholder="Režiser" />
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Žanrovi</span>
                                        </div>
                                        <select v-model="selectedGenres" id="genresInput" class="selectpicker form-control" style="background: #22262a !important; color: #fff; border: 1px #FFF;" multiple data-selected-text-format="count > 3" title="Izaberi...">
                                            <option v-for="option in genreOptions" v-bind:value="option" style="background: #22262a; color: #FFF;">{{ option }}</option>
                                        </select>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dodaj</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <input v-model="newGenre" type="text" class="form-control text-white bg-dark dropdown-item" id="newGenreInput" placeholder="Žanr" />
                                                <button v-on:click.prevent="addGenre" id="btnAddGenre" type="button" class="btn dropdown-item">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Glumci</span>
                                        </div>
                                        <select v-model="selectedActors" id="actorsInput" class="selectpicker form-control" style="background: #22262a !important; color: #fff; border: 1px #FFF;" multiple data-selected-text-format="count > 3" title="Izaberi...">
                                            <option v-for="option in actorOptions" v-bind:value="option" style="background: #22262a; color: #FFF;">{{ option }}</option>
                                        </select>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dodaj</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <input v-model="newActor" type="text" class="form-control text-white bg-dark dropdown-item" id="newActorInput" placeholder="Glumac" />
                                                <button v-on:click.prevent="addActor" id="btnAddActor" type="button" class="btn dropdown-item">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="form-group col-6 col-md-3">
                                    <input v-model.number="duration" type="number" class="form-control bg-dark" id="durationInput" placeholder="Trajanje (min)"/>
                                </div>
                                <div class="form-group col-6 col-md-3">
                                    <input v-model.number="year" type="number" class="form-control bg-dark" id="yearInput" placeholder="Godina proizvodnje"/>
                                </div>
                                <div class="form-group col-12 col-md-6">    
                                    <input v-model="country" type="text" class="form-control text-white bg-dark" id="countryInput" placeholder="Zemlja porekla" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input v-model="distributor" type="text" class="form-control text-white bg-dark" id="distributorInput" placeholder="Distributer" />
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col">
                                    <input v-model="description" type="text" class="form-control text-white bg-dark" id="descriptionInput" placeholder="Opis" />
                                </div>
                            </div>
                            <div class="form-row justify-content-around mt-3">
                                <div class="col-2 mx-auto">
                                    <p v-on:click.prevent="updateMovieSubmit" class="btn btn-primary">Izmeni</p>
                                </div>
                                <div class="col-2 mx-auto">
                                    <p v-on:click.prevent="deleteMovie" class="btn btn-danger">Obriši</p>
                                </div>
                            </div>
                            <div v-if="showMessage" class="alert alert-danger" role="alert" id="messageDiv">
                                <p style="color: red;" id="messageParagraph">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="js/UpdateMovie.js"></script>
</body>
</html>
