<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <!-- <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="css/darkInputs.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/darkInputs.css">
    <link rel="stylesheet" href="css/loading.css">
    <style>
         button {
            background-color: #22262a !important;
            color: #FFF !important;
         }
    </style>
    <title>Bioskop</title>
</head>
<body style=" background-image: url('cover.jpg'); 
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            background-size: cover;">

	<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app" class="container-fluid h-100">
    
        <!-- NAVIGACIJA -->
        <div class="row">
            <div class="col d-none d-lg-block">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>
                  
                    <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                        </li>
                        <li class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                        </li>
                        <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                            <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Moj nalog
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col d-lg-none">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand font-weight-bold" href="Welcome.html">Bioskop</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="Welcome.html">Početna</a>
                            </li>
                            <li class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterMovies.html">Filmovi</a>
                            </li>
                            <li v-if="loggedInUser.userRole == 'ADMIN'" class="nav-item active mr-5">
                                <a class="nav-link font-weight-bold" href="FilterUsers.html">Korisnici</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moj nalog
                                </a>
                                <div class="dropdown-menu bg-dark w-50" aria-labelledby="navbarDropdown">
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Login.html">Prijava</a>
                                    <a v-if="loggedInUser.userRole == ''" class="dropdown-item text-white" href="Registration.html">Registracija</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" :href="'User.html?username=' + loggedInUser.username">Moj nalog</a>
                                    <a v-if="loggedInUser.userRole != ''" class="dropdown-item text-white" href="Logout.html">Odjava</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
        <div style="height: 60px;" class="row d-none d-lg-block"></div>
        <!-- KRAJ NAVIGACIJE -->
        <div class="row">
            <div class="col">
                <form style="background-color: #22262a !important;
                color: #FFF !important;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <input v-model="movie" v-on:keyup="refreshProjections" debounce="500" type="text" class="form-control" id="movieInput" placeholder="Naziv filma"/>
                        </div>
                        <div class="form-group col-xl-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Tipovi projekcija</span>
                                </div>
                                <select v-model="selectedProjectionTypes" v-on:change="refreshProjections" id="projectionTypesInput" class="selectpicker form-control" 
                                style="background: #22262a !important; color: #fff; border: 1px #FFF;" multiple data-selected-text-format="count > 3" title="Izaberi...">
                                    <option v-for="projectionTypeOption in projectionTypeOptions" v-bind:value="projectionTypeOption" style="background: #22262a; color: #FFF;">{{ projectionTypeOption }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Sale</span>
                                </div>
                                <select v-model="selectedHalls" v-on:change="refreshProjections" id="hallsInput" class="selectpicker form-control" 
                                style="background: #22262a !important; color: #fff; border: 1px #FFF;" multiple data-selected-text-format="count > 3" title="Izaberi...">
                                    <option v-for="hallOption in hallOptions" v-bind:value="hallOption" style="background: #22262a; color: #FFF;">{{ hallOption }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" id="toggle1" class="input-group-text"><i class="fa fa-calendar-alt"></i></button>
                                </div>
                                <input type="text" id="picker1" class="form-control" placeholder="Vreme od">
                            </div>
                        </div>
                        <div class="form-group col-xl-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" id="toggle2" class="input-group-text"><i class="fa fa-calendar-alt"></i></button>
                                </div>
                                <input type="text" id="picker2" class="form-control" placeholder="Vreme do">
                            </div>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="priceLow" v-on:keyup="refreshProjections" debounce="500" type="number" class="form-control" id="priceLowInput" placeholder="Cena od"/>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="priceHigh" v-on:keyup="refreshProjections" debounce="500" type="number" class="form-control" id="priceHighInput" placeholder="Cena do"/>
                        </div>
                        
                        <div class="form-group col-xl-4">
                            <select v-model="selectedSort" title="Sortiraj..." id="sortInput" class="selectpicker form-control" style="border: 1px #FFF">
                                <option v-for="sortOption in sortOptions" v-bind:value="sortOption" style="background: #22262a; color: #FFF;">{{ sortOption }}</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div v-if="loggedInUser.userRole == 'ADMIN'" class="row justify-content-center mt-2">
        	<a href="AddProjection.html" class="btn btn-primary">Dodaj novu projekciju</a>
        </div>

        <!-- <div v-for="movie in orderedMovies" class="row mt-5">
            <div class="col-xl-10 offset-xl-1">
                <div class="card text-white bg-dark mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="movie.jpg" class="card-img" alt="..." style="height: 100%;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title">{{ movie.title }}</h4>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark"><p class="card-text"><b>Žanr:</b> {{ genresToString(movie.genres) }}</p></li>
                            <li class="list-group-item bg-dark"><p class="card-text"><b>Trajanje:</b> {{ movie.duration }} min</p></li>
                            <li class="list-group-item bg-dark"><p class="card-text"><b>Distributer:</b> {{ movie.distributor }}</p></li>
                            <li class="list-group-item bg-dark"><p class="card-text"><b>Zemlja porekla:</b> {{ movie.country }}</p></li>
                            <li class="list-group-item bg-dark"><p class="card-text"><b>Godina proizvodnje:</b> {{ movie.year }}.</p></li>
                          </ul>
                          <div class="card-body">
                            <a :href="'Movie.html?id=' + movie.id" class="btn btn-danger stretched-link">Detaljnije</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div> -->
    
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <script src="js/bootstrap.js"></script> -->
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
    <script src="js/jquery.datetimepicker.full.js"></script>
    <script>
		// Loading `lodash.fp.js` converts `_` to its fp variant.
		_.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		
		// Use `noConflict` to restore the pre-fp variant.
		var fp = _.noConflict();
		
		_.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
		// ➜ { 'a': 1, 'b': 2 }
		fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
    </script>
    <script src="js/Welcome.js"></script>
</body>
</html>
