input, textarea, select{
    background-color: #22262a !important;
    color: #FFF !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #808080 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #808080 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #808080 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #808080 !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #808080 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #808080 !important;
}